.post-bar {
    width: 18%;
    margin-top: 25px;
    float: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 100%; 
    // border-style: solid;
} .post-bar a {
    padding: 10px;
    border-style: solid;    // border-color: white;
    border-width: thin;
    border-radius: 6px;
    background-color: $feature-image-text-color;
    color: $text-color;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 2px;
} .post-bar a:hover {
    background-color: gray;
}

