.post-bar {
    width: 18%;
    padding-top: 25px;
    float: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 100%; 
} .post-bar a {
    padding: 10px;
    border-style: solid;
    border-width: thin;
    background-color: white;
    color: $text-color;
    font-family: 'Times New Roman', Times, serif;
   font-style: italic;
} .post-bar a:hover {
    background-color: lightgray;
}

